*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(255, 246, 238);
}

#topo-loja{
    background-color: rgb(127, 0, 0);
    color: rgb(255, 246, 238);
    padding: 20px;
    text-align: center;
}

#bt_menu, #label-menu{
    display: none;
}

#menu ul{
    list-style: none;
    margin-top: 20px;
}

#menu li{
    display: inline-block;
    margin: 0 10px;
}

#menu a{
    color: rgb(255, 246, 238);
    text-decoration: none;
    font-weight: bold;
}

.titulo-secao{
    text-align: center;
    margin-top: 40px;
    color: rgb(127, 0, 0);
    
}

/* Estrutura inicial grid - desktop*/

.vitrine-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card{
    border: 1px solid rgb(127, 0, 0);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

.card img{  /* qualquer imagem dentro de card*/
   max-width: 100%;
   height: auto;
   border-radius: 15px;
}

.preco{ /* span é inline level */
    display: block; /*vira block level*/
    color:rgb(210, 10, 10);
    font-weight: bold;
    margin: 10px /* cima baixo */ 0 /* esquerda direita */;
}

.bt-pedido{
    background-color: rgb(127, 0, 0);
    color: rgb(255, 246, 238);
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    cursor: pointer; /*passou em cima do botão muda o negócio do mouse*/
}

#rodape{
     background-color: rgb(127, 0, 0);
    color: rgb(255, 246, 238);
    padding: 30px;
    text-align: center;
    margin-top: 40px;
}

/*MEDIAS*/

@media screen {
    #topo-loja h1{
        letter-spacing: 2px; /*espaço entre as letras do logo*/
    }
}

@media only screen and (max-width: 480px) {
    h1{
        font-size: 1.2rem;
    }
    
}